<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Internal Server Error</title>
</head>
<body>

<div class="content content-fixed content-auth-alt">
    <div class="container ht-100p tx-center">
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
            <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">500 Internal Server Error</h1>
            <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Oopps. There was an error, please try again later.</h5>
            <p class="tx-color-03 mg-b-30">The server encountered an internal server error and was unable to complete your request.</p>
            <div class="mg-b-40"><a href="/home" class="btn btn-white pd-x-30">Back to Home</a></div>
        </div>
    </div><!-- container -->
</div><!-- content -->

</body>
</html>